<div class="container">
  <h3>My Postings</h3>
  <% @user.postings.each_slice(3) do |ps| %>
    <div class="row">
      <% ps.each do |posting| %>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><%= link_to posting.title, posting %></h4>
            <h6 class="mb-2 text-muted"><%= posting.address %></h6>
            <div class="col-md-5" style="padding:0px;">
              <p class="card-text">$<%= posting.price %></p>
              <p class="card-text">Beds:<%= posting.num_beds %></p>
            </div>
            <div class="col-md-5" style="padding:0px;">
              <p class="card-text">From<%= posting.start %> to <%= posting.start %></p>
              <p class="card-text">Baths:<%= posting.num_baths %></p>
            </div>
            <p class="col-md-12 card-text"><%= posting.comment %></p>
            <small class="author col-md-12" style="padding:0px;">Submitted <%= time_ago_in_words(posting.created_at) %>  ago%></small>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
