<div id="container">
  <div id="former"> 
    <%= form_with(model: posting, local: true) do |f| %>
      <% if posting.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(posting.errors.count, "error") %> prohibited this posting from being saved:</h2>

          <ul>
          <% posting.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :destination %><br>
      <%= f.text_field :destination, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :depart_from %><br>
      <%= f.text_field :depart_location, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :depart_date %><br>
      <%= f.date_field :date_leaving, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :comments %><br>
      <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :price %><br>
        <%= f.number_field :price, class: "form-control" %>
      </div>
    <br>
    <div class="form-group">
      <%= f.submit "Submit", class: "btn btn-lg btn-primary" %>
    </div>
  </div>
  <div id="map" style='width: 400px; height: 800px;'></div>
</div>

  <script src="//maps.google.com/maps/api/js?key=AIzaSyD550c1hBVyJPPIrt81EKMnHbytZ_xnjus"></script>
  <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  
  <script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers([
        {
          "lat": 37.8662205,
          "lng": -122.2570303,
          
          "infowindow": "Departure"
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
  </script>
<% end %>
