<!DOCTYPE html>
<html>

<head>
  <title>Cal Bnb</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render 'shared/navbar' %>
  <div id="main_content" class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info alert-dismissable") %>
    <% end %>

    <div id="content">
      <%= yield %>
    </div>
  </div>
</body>

</html>
