<!DOCTYPE html>
<html>

<head>
  <title>Cal Bnb</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//maps.google.com/maps/api/js?key=AIzaSyD550c1hBVyJPPIrt81EKMnHbytZ_xnjus" %>
  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>
</head>

<body>
  <%= render 'shared/navbar' %>
  <div id="main_content">
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info alert-dismissable") %>
    <% end %>

    <div id="content" class="center-block">
      <%= yield %>
    </div>
  </div>
</body>

</html>
